-- Example 0
2
..
..

Win
-- Example 1
4
...
.#.
.#.
...

Lose
-- Example 2
3
.##
..#
#..

Lose
-- Example 3
4
....
...#
#...
....

Win
-- Example 4
4
...#.
....#
#....
..##.

Win
-- Example 5
2
..........
........#.

Lose
