-- Example 0
abb
c

cbb
-- Example 1
z
f

z
-- Example 2
fedcba
ee

feeeba
-- Example 3
top
coder

trp
-- Example 4
xldyzmsrrwzwaofkcxwehgvtrsximxgdqrhjthkgfucrjdvwlr
xfpidmmilhdfzypbguentqcojivertdhshstkcysydgcwuwhlk

zyyyzyxwwwzwvuuttxwtssvtssxrqxppqrontmmllukrkjvwlr
